[*.cs]

## General Settings ##

charset = utf-8
indent_style = tabs
end_of_line = crlf

## StyleCop Analyzer ##

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = none

# SA1101: Prefix local calls with this - to keep code concise, we disable it
dotnet_diagnostic.SA1101.severity = none

# SA1309: Field names should not begin with underscore - The current style is to prefix private elements with an _
dotnet_diagnostic.SA1309.severity = none

# SA1512: Single-line comments must not be followed by a blank line - Yeah when commenting out code
dotnet_diagnostic.SA1512.severity = none

# SA1028: Code must not contain trailing whitespace - Every time you hit enter, you get a new line with trailing whitespace, it's annoying
dotnet_diagnostic.SA1028.severity = none

## Code Analysis ##

# CA1303: Do not pass literals as localized parameters - Might be dealt with later
# TODO: Enable this rule
dotnet_diagnostic.CA1303.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task - disabled since this isn't a GUI project
dotnet_diagnostic.CA2007.severity = none

## Naming Rules ##

# Styles -----------------------------------------
# pascal_case_style
dotnet_naming_style.pascal_case_style.capitalization = pascal_case

# camel_case_style
dotnet_naming_style.camel_case_style.capitalization = camel_case
dotnet_naming_style.camel_case_style.required_prefix = _

# Symbols ----------------------------------------
# types
dotnet_naming_symbols.non_public_members.applicable_kinds = property, method, field, event, delegate
dotnet_naming_symbols.non_public_members.applicable_accessibilities = private, internal, protected, protected_internal

# Rules ------------------------------------------
# CamelCase for non_public_members
dotnet_naming_rule.non_public_members_should_be_camel_case.symbols = non_public_members
dotnet_naming_rule.non_public_members_should_be_camel_case.style = camel_case_style
